body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e8f0e5; /* velg fargen du vil ha som bakgrunn */
  color: #222;
}
body {
  background: #000;
  color: #e0e3e8;
  margin: 0;
  font-family: "Segoe UI", Roboto, sans-serif;
}


h1, h2 {
  margin: 0.5em 0;
}

